html {
  background-color: #e3e3d5;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #34c6eb;
  position: fixed; /* Sets the nav bar to a fixed position at the top of the page.*/
  top: 0; /* Pushes nav bar all the way to the top. */
  width: 100%; /* Extends width of the nav bar all the way accross the page. */
}

li {
  float: left; /* Align items from left to right. */
}

li a {
  display: block; /* Keeps items on the same row. */
  color: white;
  text-align: center; /* Keep the text centered in it's tab. */
  padding: 14px 16px; /* Give the text some padding to space things out & increase readability.*/
  text-decoration: none; /* Removes default underlining under the text. */
}

li a:hover:not(.active) {
  background-color: #111;
}

.active {
  background-color: #4CAF50;
}

.bodyContent {
  margin-top: 100px; /*nav bar is fixed.  This property prevents content overlay.*/
}


/*------------- crimeStatistics.html -----------*/

.chartDescription {
  width: 50%;
  margin: auto;
  padding-bottom: 20px;
}

.chart {
  text-align: center;
}

/*------------- smsNotifications.html -----------*/

.pageTitle {
  text-align: center;
}

.pageDescription {
  position: relative;
  display: block;
  width: 50%;
  margin: 0 auto 0 auto;
  text-align: center;
}

#notificationSignUpForm {
  text-align: center;
}

 .textInput {
  width: 50%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#unsubscribeOptions {
  text-align: center;
  margin: auto;
  position: relative;
  padding: 10px;
}

input #unsubscribeCheckbox {
  width: 20px;
}

#registrationButton {
  margin: auto;
  display: block;
}

.chicagoSkylineSection {
  padding-top: 30px;
  text-align: center;
}

/*------------- submissionSuccessful.html -----------*/

#returnToHomePageDiv {
  text-align: center;
}
